@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Kanit:ital,wght@0,100;0,200;1,100&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: clip;
}
body
{
    background-color: black;
}
.banner {
    background-image: url(../media/images/weight.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
   
    width: 100%;
    height: 500px;
    position: relative;

}
li
{
	list-style: none;
}
.navbar
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	color: white;
}
.nav-links a
{
	color:white;
    text-decoration: none;
}
.logo
{
	
    font-size: 50px;
}
.menu
{
	display: flex;
	gap: 5px;
	font-size: 18px;
}
.menu li:hover
{
	background-color:#F24405;
	border-radius: 5px;
	transition: .03s ease-in;
}
.menu li
{
	padding: 5px 14px;
}
input
{
	display: none;
}
.hamburger
{
	display: none;
	font-size: 18px;
	user-select: none;
}

.about
{
    color:#F24405;
    position:absolute;
    font-weight: bold;
    top:320px;
    left: 400px;
    font-size:50px;
    letter-spacing: 2px;
} 
h1
{
    color:white;
    position: absolute;
    left:400px;
    top:400px;
    font-size: 50px;
}

/* categories */

.grid-1
{
    display: grid;
    grid-template-columns: 60% 40%;
}
.grid-categories-1
{
    width:750px;
    height: 400px;
   
    margin-left: 30px;
    margin-top: 30px;
}
.grid-categories-1 img
{
    width: 750px;
    height:400px;
    object-fit: cover;
}
.grid-categories-1 h4
{
    color: white;
    font-size: 25px;
    padding: 20px;
}
.grid-categories-1 p
{
    color: gray;
    font-size: 17px;
}

/* grid-2 */

.grid-categories-2
{
    width:470px;
    height: 400px;
   
    margin-top: 30px;
}
.grid-categories-2 h2
{
    color:#F24405;
    font-size: 20px;
   padding-left: 100px;
   padding-top: 20px;
}
.categ p
{
color: white;
font-size: 17px;
display: flex;
justify-content:space-between;
padding-top: 20px;
}
.categ p:hover
{
    color: #F24405;
    cursor: pointer;
}
.categ span
{
    color: white;
}
/* grid-2 */

.grid-2
{
    display: grid;
    grid-template-columns: 60% 40%;
}
/* grid-posts-1 */

.grid-posts-1
{

    width:750px;
    height: 800px;
  
    margin-left: 30px;
    margin-top: 30px;
}
.grid-posts-1 h5
{
    color:white;
    font-size: 20px;
}
.grid-posts-1 h2
{
    color:white;
    font-size: 20px;
    margin-top: 20px;
}
.grid-posts-1 p
{
    color:gray;
    font-size: 17px;
    padding-top: 20px;
}
/* --grid-posts-2 */

.grid-posts-2
{
    width:470px;
    height: 800px;
   
    margin-top: 30px;
}
.grid-posts-2 h3
{
    color:white;
    font-size: 20px;
}
.grid-posts-2 img
{
    width:300px;
    height: 200px;
    object-fit: cover;
    padding-top: 10px;
}
.posts img
{
    width:100px;
    height: 100px;
    object-fit: cover;
    
}
.posts p
{
    color: white;
    transform: translate(120px,-100px);
    font-size: 20px;
    
}
.posts span
{
    color:#F24405;
    font-size: 13px;
}

/* timetable */

.time-table p
{
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}
.grid-3
{
    display: grid;
    grid-template-columns:  23% 23% 23% 31%;
    row-gap: 4px;
    margin-left: 30px;
    margin-top: 30px;
}
.grid-table
{
    width:300px;
    height: 200px;
    border: 1px solid gray;
}
.grid-table:hover
{
    background-color: #F24405;
    cursor: pointer;
}
.grid-table h6
{
    color:white;
    font-size: 30px;
    text-align: center;
}
.grid-table i
{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.grid-table h5
{
    color:#F24405;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.grid-table h5:hover
{
    color: white;
}
.grid-table span
{
    color: white;
    font-size: 18px;
}
.grid-table p
{
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

/* timetable */

/* address */

.address
 {
    width: 100%;
    height: 150px;
    background-color:#262626;
    margin-top: 30px;
 }
 .grid-5
 {
   display: grid;
   grid-template-columns: 30% 30% 30%; 
 }
 .grid-address
 {
    width:380px;
    height:90px;
  
    margin-left:60px ;
    margin-top: 10px;
 }
 .background-circle
 {
    width:50px;
    height: 50px;
    background-color:#F24405;
    border-radius: 50%;
    margin: 20px;
 }
 .background-circle i
 {
    padding: 16px;
    color: white;
 }
 .grid-address .contact
 {
    color:white;
    font-size: 20px;
    transform: translate(80px,-60px);
 }

 /* footer */
 .footer
 {
    width:100%;
    height:420px;
    background-color:black;

 }
 .logo-1
 {
    width:140px;
    height: 50px;
    margin: 20px;
   
 }
 .grid-6
 {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
 }
 .grid-footer
 {
    width:300px;
    height: 360px;
   
 }
 .grid-footer .para-1
 {
    color: white;
    font-size: 20px;
    padding: 10px;
 }
 .grid-footer i
 {
    padding: 15px;
    color: white;
 }
 .grid-footer .heading
 {
    color:white;
    font-size: 27px;
    padding-left: 30px;
    padding-top: 40px;
    font-weight: bold;
 }
 .grid-footer .links
 {
    color: white;
    font-size:17px;
    padding-left: 30px;
    padding-top: 20px;
 }
 .grid-footer .line
 {
    width:270px;
    height: 1px;
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
 }
 .footer .line-1
 {
    width: 100%;
    height: 1px;
    background-color: white;
 }
 .footer .copy-rights
 {
    color: gray;
    text-align: center;
 }
 .footer .copy-rights span
 {
    color:#F24405
 }
 .copy-rights i
 {
    color: #F24405;
    font-size: 15px;
    padding-top: 10px;
 }
